@charset "UTF-8";


/*
    Paleta de Cores
    azul: #81CADB;
    rosa: #db437d;
*/

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #5e001f;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    box-sizing: border-box;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    transition: width .3s; height: .3s;
    transition-timing-function: ease;
    
}

section#login > div#img {
    display: block;
    background: #5e001f url(../imagens/predio.jpg) no-repeat;
    height: 200px;
    background-size: 130%;
    background-position: left center;
}

section#login > div#form {
    padding: 10px;
}

div#form > h1 {
    text-align: center;
    font-size: 1.5em;
    padding-top: 5px;
    font-weight: bolder;
}

div#form > p {
    font-size: 0.8em;
    padding-top: 5px;
}

.campo {
    background-color: #5e001f;
    border-radius: 10px;
    margin: 5px 0px;
    border: 2px solid #5e001f;
    display: block;
    width: 100%;
    height: 40px;
}

.campo > label {
    display: none;
}

.campo > i {
    font-size: 2em;
    color: white;
    margin: 5px;
}

.campo > input {
    background-color: #45b996;
    border: none;
    border-radius: 10px;
    height: 100%;
    width: calc(100% - 40px);
    padding: 5px;

    transform: translate(40px, -42px);
    
}

.campo > input:hover {
    background-color: white;
}

form > input {
    background-color: #1c5c49;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

form > input:hover {
    background-color: #3dc79d;
}

form > a.botao {
    display: block;
    background-color: #ffffff;
    color: #1c5c49;
    border: 1px solid #1c5c49;
    width: 100%;
    height: 40px;
    
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5px;
    padding-top: 7px;
   
    font-size: 1em;
}

form > a.botao:hover {
    background-color: #3dc79d;
}

form > a.botao > i {
    font-size: .8em;
    padding-top: 6px;
}

